.maxWidth {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

/*Inicio do Topo*/
.content {
    padding: 50px 0;
}

@media (max-width: 690px) {
    .content {
        padding: 20px 0;
    }
}


.top {
    color: var(--site-color);
    display: flex;
    /*background: url("../images/banner_top_v7.jpg") no-repeat center;*/
/*    background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url("../images/banner_top_v7.jpg") no-repeat center;*/
    height: 100vh;
    min-height: 500px;
    /* background-size especifica o tamanho das imagens de fundo */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', 'Open Sans';
}

.top .maxWidth {
    width: 100%;
    display: flex;
}

.top .topContent .textOne {
    font-size: 25px;
}

.top .topContent .textTwo {
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .textThree {
    font-size: 32px;
    margin: 5px 0;
}

.top .topContent a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.8s ease;
}

.top .topContent a:hover {
    color: var(--site-color);
    background: none;
}

/* Fim do topo */